<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input Franchise</title>
</head>
<body>
    <form action="/landing" method="post">
        <label for="franchises">Choose your franchise:</label>
            <select name="FranchiseName" id="franchises">
                {% for row in franchise_list %}
                    {% for row_items in row}
                        {% for franchiseID, franchiseName in row_items.items() %}
                            <option value="{{ franchiseID }}" SELECTED>{{ franchiseName }}</option>
                        {% endfor %}
                    {% endfor %}
                {% endfor %}     
            </select>
    <br><br>
    <input type="submit" value="Submit">
    </form>

</body>
</html>