<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input League</title>
</head>
<body>
    <p>Hello, {{user_id}}! You are already logged in!</p><br>
    <form action="/getLeague/leagueCallback" method="post">
        <input autocomplete="off" autofocus name="user_league" placeholder="Input your League ID" type="text">
        <input type="submit">
    </form>     
</body>
</html>