<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>{{user_franchise}}</p><br>
    <p>{{user_league}}</p><br>
    <a class='button' href='/allPlayers'>See All Players</a><br>
    <a class='button' href='/compareFranchises'>Compare Franchises</a><br>
    <a class='button' href='/compareFranchises2'>Compare Franchises 2</a><br>
    <a class='button' href='/waiverWire'>Waiver Wire</a><br>
    <a class='button' href='/logout'>Log Out</a><br>


</body>
</html>